.post-body {
    margin: 1em 20%;
}


@media(max-width: 300px) {
    .post-body {
        margin: 1em;

    }
    
}


.post-delete-button {
    float: right;
    margin-top: 1em;
}

.post-text{
color:black;
}