  
.navbar-container {
  background-color: #fff;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

.navbar{
  min-height: 50px;
  width: auto;
}

nav a.hover {
  color: #3180ec;
}

.nav-right{
  position: absolute;
  right: 5%;
}