.navbar-container {
  background-color: #e3f2fd;

}

.navbar{
  min-height: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}

nav a.hover {
  color: #3180ec;
}

/*.navbar-right {
  position: relative;
  float: right;
} */